*{
  margin: 0%;
}
.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
}
.header img{
  width: 8%;
  padding: 10px;
}

.form{
  margin: 20px;
  margin-left: 25%;
}
.form input{
  padding: 8px;
  width: 30%;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  font-size: medium;
}
.form button{
  padding: 8px;
  width: 30%;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  font-size: medium;
  margin-left: 15%;
  margin-top: 20px;
  color: white;
}

.meme {
  position: relative  ;
  width: 40%;
  margin: auto;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {

  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}